.content {
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr;
  align-items: center;
  padding: 0 148px 0 148px;
}
@media screen and (max-width: 768px) {
  .content {
    padding: 0 24px 0 24px;
  }
}
@media screen and (max-width: 320px) {
  .content {
    padding: 0 16px 0 16px;
  }
}
