.footer {
  display: flex;
  flex-direction: column; /* Asegura que los elementos se coloquen en una sola columna */
  justify-content: center;
  align-items: center;
}
.footer__copyright {
  margin-top: 92px;
  margin-bottom: 24px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}
@media screen and (max-width: 320px) {
  .footer__copyright {
    margin-top: 64px;
  }
}
