.intro {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  max-width: 830px;
}
.intro__title {
  display: flex;
  max-width: 830px;
  margin-top: 90px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: white;
}
.intro__text {
  max-width: 738px;
  margin-top: 40px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: #ffffff;
}
.intro__text_autor {
  max-width: 738px;
  text-align: right;
}
@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
  }
  .intro__title {
    max-width: 700px;
    font-size: 45px;
    line-height: 49px;
  }
  .intro__text {
    max-width: 720px;
    font-size: 24px;
    line-height: 34px;
  }
  .intro__text_autor {
    max-width: 720px;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
  }
}
@media screen and (max-width: 320px) {
  .intro {
    max-width: 288px;
  }
  .intro__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
  .intro__text {
    max-width: 288px;
    font-size: 24px;
    line-height: 30px;
  }
}
