.palces {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
}
.place {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "title ."
    "title artist"
    "image paragraph1"
    "image paragraph1"
    "image paragraph2"
    "image paragraph2"
    "button paragraph3";
  gap: 30px 40px;
}
.place__title {
  grid-area: title;
  margin: 0;
  place-self: end start;
  font-family: Inter, Arial, sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #ffffff;
}

.place__image {
  width: 100%;
  height: auto;
  object-fit: cover;
  grid-area: image;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.place__website {
  margin: 0;
  place-self: end start;
  color: #aaaaaa;
  grid-area: artist;
}
.place__url-heading {
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 12%;
  text-transform: uppercase;
  color: #aaaaaa;
}
.place__artist {
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0%;
  color: #ffffff;
}
.place__buy-button {
  font-family: Inter, Arial, sans-serif;
  font-weight: 600;
  font-size: 18px;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  color: #ffffff;
  cursor: pointer;
  grid-area: button;
  background-image: linear-gradient(to right, #0278fe, #003a7b);
  max-width: 300px;
  max-height: 50px;
  padding: 13px 20px;
  border: none;
}

.place__paragraph {
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  letter-spacing: 0%;
  color: #ffffff;
}
.place__paragraph_first {
  grid-area: paragraph1;
}
.place__paragraph_last {
  grid-area: paragraph2;
}
.place__paragraph_third {
  grid-area: paragraph3;
}
.place__buy-button:hover {
  filter: brightness(0.7);
}
.place__image:hover {
  filter: brightness(0.7);
}
@media screen and (max-width: 768px) {
  .place {
    gap: 30px 25px;
  }
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
  .place__paragraph {
    font-size: 16px;
    line-height: 163%;
  }
  .place__url-heading {
    font-size: 18px;
    line-height: 22px;
  }
  .place__artist {
    font-size: 12px;
    line-height: 12px;
  }
  .place__buy-button {
    font-family: Inter, Arial, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
  }
}
@media screen and (max-width: 320px) {
  .place {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "title"
      "artist"
      "image"
      "paragraph1"
      "paragraph1"
      "paragraph2"
      "paragraph2"
      "paragraph3"
      "button";
    max-width: 320px;
  }
  .place__title {
    font-size: 32px;
    line-height: 35px;
  }
  .place__paragraph {
    font-size: 14px;
    line-height: 100%;
  }
  .place__url-heading {
    font-size: 12px;
    line-height: 22px;
  }
  .place__artist {
    font-size: 18px;
    line-height: 22px;
  }
  .place__buy-button {
    font-family: Inter, Arial, sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
  }
}
